.container {
  padding:0 40px;
  background-color: #212534;
}

.container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

.container h1 span {
  color: #4f46e5;
}

/* AUTO GRID RESPONSIVE LAYOUT */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  width: 100%;
}


.deviceinfo{
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #333;
}

.topbar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
   background: #ffffff;
}


.top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #9D74FF 0%, #E35E9E 50%, #FF507A 100%);
  color: #ffffff;
  
  padding: 5px;
}

.datetime{
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}